<div class="interface">
    <div class="line-footer">
        <div class="flex">
            <div class="logo-footer">
                <p class="titulo">&lt;Iwerson/&gt;</p>
            </div><!--logo-footer-->
            <div class="btn-social">
                <a href="https://wa.me/5581988599531"><button><i class="bi bi-whatsapp"></i></button></a>
                <a href="https://github.com/owleyes62"><button><i class="bi bi-github"></i></button></a>
                <a href="https://www.linkedin.com/in/iwerson-guilherme-851703204/"><button><i class="bi bi-linkedin"></i></button></a>
            </div><!--btn-social-->
        </div>
    </div><!--line-footer-->

    <div class="line-footer borda">
        <p><i class="bi bi-envelope-fill"></i> <a href="mailto:iwersongss@gmail.com">iwersongss@gmail.com</a></p>
    </div><!--line-footer-->
</div><!--interface-->