<header>
    <div class="interface">
        <div class="titulo">
            <a href="http://127.0.0.1:5500/index.html">
                <p>&lt;Iwerson/&gt;</p>
            </a>
        </div><!--logo-->

        <nav class="menu-desktop">
            <ul>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#especialidades">Especialidades</a></li>
                <li><a href="#contato">contato</a></li>
            </ul>
        </nav>

        <div class="btn-social">
            <a href="https://wa.me/5581988599531"><button><i class="bi bi-whatsapp"></i></button></a>
            <a href="https://github.com/owleyes62"><button><i class="bi bi-github"></i></button></a>
            <a href="https://www.linkedin.com/in/iwerson-guilherme-851703204/"><button><i class="bi bi-linkedin"></i></button></a>
        </div><!--btn-social-->

        <div class="btn-abrir-menu" id="btn-menu">
            <i class="bi bi-list"></i>
        </div>

        <head>
            <title>Botão Voltar ao Topo</title>
            <link rel="stylesheet" type="text/css" href="styles.css">
        </head>
        
    </div><!--interface-->
</header>